*{
  margin: 0;
  padding: 0;
}



main {
  padding: 2%;
  background: linear-gradient(45deg, #925D54, #896F7D, #77759A, #7E939A, #e0b78a);
  background-attachment: fixed;
}

main h1, main h2{
  text-shadow: 2px 2px 2px #333;
}

/* main div {
  background-color: #fff;
} */
.nav-item {
  color: #777;
}

.nav-item:visited{
  color: #777;
}

.nav-item:hover {
  color: #000;
}

.nav-item:active{
  color: #000;
}


.dropdown{
  display: flex;
}

footer {
  background-color: #F8F9FA;
  color: #000;
  text-align: center;
  height: 80px;
}

i {
  color: purple;
  font-size: 1.3rem;;
}

i:hover {
  color: #000;
}

.park{
  color: #fff;
  padding: 1% 2%;
}

.attractions{
  padding: 10px 0;
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f2f4f7;
  border-radius: 20px;
}

.attractionCards{
  width: 22%;
  padding: 10px;
  min-height: 350px;
  margin: 10px 5px 10px 5px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #777;
}

.attraction-header{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.attractionCards h5 {
  width: 90%;
}

.wait-time {
  margin-bottom: 0px;
}

.time-note{
  font-style: italic;
  color: #999;
  font-size: 0.7rem;
}

.time{
  width: 60%;
}

.hourly-chart{
  min-height: 50px;
}

.bar {
  width: 7.5%;
}

.bar-label {
  margin: 0;
  font-size: 10px;
  width: 100%;
  text-align: center;
}

.bar-height {
  background-color: #999;
  border-radius: 3px;
}

.bar-minutes {
  font-size: 10px;
  width: 100%;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 1240px) {
  .attractionCards {
    width: 30%;
  }
}

@media screen and (max-width: 910px) {
  .attractionCards {
    width: 40%;
  }
}

@media screen and (max-width: 710px) {
  .attractionCards {
    width: 85%;
  }

}